header{
    background-color: red;
    
}
main{
    margin: 2%;
}
article{
    background-color: gray;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 5%;
    background-color: blueviolet;
}
div{
    display:  flex;
    justify-content: space-between;
    
}
section{
    background-color: aliceblue;
    border-style: solid;
    border-color: blue;
}

aside{
    background-color: aliceblue;
    border-style: solid;
    border-color: gray;
}

nav{
    background-color: lightgreen;
}